:root {
  --main-color: #13172a;
  --color-block: rgba(241, 70, 102, 0.7);
  --primary-color: #ee8980;
  --secondary-color: #ffcdaa;
  --heading-font-family: Roboto Mono;
  --default-font-family: "poppins";
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 1px;
}

body {
  background: var(--main-color);
  font-family: var(--default-font-family);
  color: var(--main-color);
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 40px;
}

a {
  text-decoration: none;
}
.color-block-left {
  background: var(--color-block);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 70px 60px 70px 50px;
  margin-top: 50px;
  text-align: right;
  box-shadow: var(--box-shadow);
}

.color-block-right {
  background: var(--color-block);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 70px 50px 70px 60px;
  margin-top: 50px;
  text-align: left;
  box-shadow: var(--box-shadow);
}
.heading h1 {
  font-size: 80px;
}
.first-color-title {
  color: var(--primary-color);
}
.second-color-title {
  color: var(--secondary-color);
}

.primary-btn {
  text-decoration: none;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  border-radius: 6px;
  background: var(--primary-color);
  padding: 15px 80px;
  box-shadow: var(--box-shadow);
}
.primary-btn:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  transition: all 0.4s ease-in-out;
}
.work-heading {
  text-align: start;
}

.rectangle {
  position: relative;
  width: 100px;
  height: 260px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  margin: 3px 0;
}
.rectangle img {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  .color-block-left,
  .color-block-right,
  .work-heading {
    text-align: center;
  }
  .heading h1 {
    font-size: 65px;
  }
  .rectangle,
  img {
    display: none;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 25px;
  }

  .heading h1 {
    font-size: 50px;
  }
}
