:root {
  --main-color: #13172a;
  --color-block: rgba(241, 70, 102, 0.7);
  --primary-color: #ee8980;
  --secondary-color: #ffcdaa;
  --heading-font-family: Roboto Mono;
  --default-font-family: "poppins";
}

body {
  background: var(--main-color);
  font-family: var(--default-font-family);
}
h1 {
  font-family: var(--heading-font-family);
}
.color-block {
  background: var(--color-block);
  border-radius: 6px;
  padding: 70px 50px 70px 40px;
  margin-top: 35px;
}
.heading h1 {
  font-size: 96px;
}
.first-color-title {
  color: var(--primary-color);
}
.second-color-title {
  color: var(--secondary-color);
}
