:root {
  --main-color: #13172a;
  --color-block: rgba(241, 70, 102, 0.7);
  --primary-color: #ee8980;
  --secondary-color: #ffcdaa;
  --heading-font-family: Roboto Mono;
  --default-font-family: "poppins";
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px 1px;
}

body {
  background: rgb(19, 23, 42);
  background: linear-gradient(
    180deg,
    rgba(19, 23, 42, 1) 34%,
    rgba(35, 40, 66, 1) 100%
  );
  font-family: var(--default-font-family);
  color: var(--main-color);
}

nav {
  background-color: var(--secondary-color);
  padding: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.2s ease-in-out;
}

a:hover,
.active-link {
  color: var(--primary-color);
}

h1 {
  font-size: 80px;
  font-family: var(--heading-font-family);
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
  line-height: 40px;
  margin: 0;
}

p {
  font-size: 20px;
}

img {
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  border: 6px solid var(--primary-color);
}
.work-section img {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.work-section img {
  float: left;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  transition: all 0.1s ease-in-out;
}
.work-section img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.go-to-url {
  text-decoration: none;
  color: var(--primary-color);
}

.go-to-url:hover {
  color: var(--secondary-color);
}

a h3 {
  color: var(--main-color);
}

a h3:hover {
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

footer p {
  text-align: center;
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: lighter;
}

footer a {
  color: var(--secondary-color);
}

.color-block-left {
  background: var(--color-block);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 70px 60px 70px 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: var(--box-shadow);
}

.color-block-right {
  background: var(--color-block);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 70px 50px 70px 60px;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: var(--box-shadow);
}

.first-color-title {
  color: var(--primary-color);
}
.second-color-title {
  color: var(--secondary-color);
}

.primary-btn {
  text-decoration: none;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  border-radius: 6px;
  background: var(--primary-color);
  padding: 15px 80px;
  box-shadow: var(--box-shadow);
}
.primary-btn:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  transition: all 0.4s ease-in-out;
}
.work-heading {
  text-align: start;
}
.contact-heading {
  text-align: center;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.logo {
  width: 70px;
  height: 70px;
  border: none;
  box-shadow: none;
}
.img-block {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
.project-img {
  width: 75%;
}

@media (max-width: 900px) {
  h2 {
    font-size: 30px;
    text-align: center;
  }
  h3 {
    font-size: 20px;
  }

  footer p {
    font-size: 12px;
  }

  .heading h1 {
    font-size: 40px;
    text-align: center;
  }
  .hero,
  .contact {
    text-align: center;
  }
  .work-heading {
    text-align: center;
  }
  .rectangle,
  .work-section img {
    display: none;
  }
}
