:root {
  --main-color: #13172a;
  --color-block: rgba(241, 70, 102, 0.7);
  --primary-color: #ee8980;
  --secondary-color: #ffcdaa;
  --heading-font-family: Roboto Mono;
  --default-font-family: "poppins";
}

body {
  background: var(--main-color);
  font-family: var(--default-font-family);
  color: var(--main-color);
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 50px;
}

img {
  border-radius: 6px;
}
.color-block-left {
  background: var(--color-block);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 70px 60px 70px 20px;
  margin-top: 50px;
  text-align: right;
}

.color-block-right {
  background: var(--color-block);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 70px 20px 70px 60px;
  margin-top: 50px;
  text-align: left;
}
.heading h1 {
  font-size: 96px;
}
.first-color-title {
  color: var(--primary-color);
}
.second-color-title {
  color: var(--secondary-color);
}

.primary-btn {
  text-decoration: none;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  border-radius: 6px;
  background: var(--primary-color);
  padding: 15px 80px;
  text-align: center;
}
:hover.primary-btn {
  color: var(--primary-color);
  background: var(--secondary-color);
  transition: all 0.4s ease-in-out;
}
